<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>znepbf@pfnvy.zvg.rqh</string>
	<key>contactName</key>
	<string>Marcos Ojeda</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Solarized</string>
	<key>uuid</key>
	<string>1E5AD5DB-9F53-4125-9FAE-73F822A2AE25</string>
</dict>
</plist>
